<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

<div class="row h-100 mb-4">
    <div class="col-8">
        <iframe src="static/reveal.js-master/examples/media.html" style="width:100%; height:100%;">

        </iframe>
    </div>
    <div class="col-4">
        <textarea id="MDEditor">
        </textarea>
    </div>
</div>
<script>
    var simplemde = new SimpleMDE({element: document.getElementById("MDEditor")});
</script>
