<!--Preview Presentations-->

<link rel="stylesheet" href="static/reveal.js-master/dist/reset.css">
<link rel="stylesheet" href="static/reveal.js-master/dist/reveal.css">
<link rel="stylesheet" href="static/reveal.js-master/dist/theme/black.css">
<link rel="stylesheet" href="static/reveal.js-master/plugin/highlight/monokai.css">

<div>
    <div class="reveal">
        <div class="slides">
            <section data-markdown>
                <textarea data-template id="source" data-separator="^\n\n\n" data-separator-vertical="^\n\n">
                </textarea>
            </section>
        </div>
    </div>
</div>

