<form method="post" action="/login">
    <div class="input-group mb-3" style="width: max-content;">
        <span class="input-group-text">Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <input type="email" name="email" />
    </div>
    <div class="input-group mb-3" style="width: max-content;">
        <span class="input-group-text">Password:</span>
        <input type="password" name="password" />
    </div>

    <button type="submit" class="btn btn-info" style="width:100%;">Login</button>
</form>