<form method="post" action="/register">
    <div class="input-group mb-3">
        <span class="input-group-text">Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <input type="email" name="email" />
    </div>
    <div class="input-group mb-3" style="width: max-content;">
        <span class="input-group-text">Password:&nbsp;</span>
        <input type="password" name="password" />
    </div>
    <div class="input-group mb-3" style="width: max-content;">
        <span class="input-group-text">Phone:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <input type="tel" name="phone" />
    </div>

    <button type="submit" class="btn btn-info" style="width:100%;">Sign Up</button>
</form>